<launch>
	<arg name="model" default="burger" doc="only supports burger"/>
	<arg name="world" default="home"/>
	<arg name="x_pos" default="0.0"/>
	<arg name="y_pos" default="0.0"/>
	<arg name="z_pos" default="0.0"/>
	<arg name="rviz" default="true"/>
	<arg name="gzclient" default="false"/>

	<!-- Simulator -->
	<include file="$(find turtle_sim)/launch/world.launch">
		<arg name="model" value="$(arg model)"/>
		<arg name="world" value="$(arg world)"/>
		<arg name="x_pos" value="$(arg x_pos)"/>
		<arg name="y_pos" value="$(arg y_pos)"/>
		<arg name="z_pos" value="$(arg z_pos)"/>
		<arg name="gzclient" value="$(arg gzclient)"/>
		<arg name="load_description" value="false"/>
	</include>

	<!-- Navigation -->
	<include file="$(find turtle_bringup)/launch/modules/navigation.launch">
		<arg name="model" value="$(arg model)"/>
		<arg name="map_file" value="$(find turtle_bringup)/maps/$(arg world).yaml"/>
		<arg name="open_rviz" value="false"/>
	</include>

	<!-- Visualization -->
	<node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" required="true" respawn="false"
	      args="-d $(find turtle_bringup)/rviz/default.rviz"/>

</launch>



